/TwoSum/.vs/TwoSum/FileContentIndex/0bc5c6aa-92d1-44cf-bcd8-fab940348dff.vsidx
/TwoSum/.vs/TwoSum/v17/Browse.VC.db
/TwoSum/.vs/TwoSum/v17/Browse.VC.db-shm
/TwoSum/.vs/TwoSum/v17/Browse.VC.db-wal
/TwoSum/.vs/TwoSum/v17/Browse.VC.opendb
